<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pst">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.pst.Edit_Multistock"
            android:label="Multi Edit"
            android:parentActivityName="com.example.pst.Check_stock_Multiscan"></activity>
        <activity android:name="com.example.pst.Edit_stock"
            android:label="Single Edit"
            android:parentActivityName="com.example.pst.Check_stock"/>
        <activity android:name="com.example.pst.Setting" />
        <activity android:name="com.example.pst.ViewStock"
            android:parentActivityName="com.example.pst.MainActivity"/>
        <activity android:name="com.example.pst.List" />
        <activity
            android:name="com.example.pst.UserRecord"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.pst.Check_stock"
            android:label="Single Count"
            android:parentActivityName="com.example.pst.UserRecord"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.pst.Check_stock_Multiscan"
            android:label="Multi Count"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.pst.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pst.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>